<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <span>Follow us also on:</span>
        </p>
        <ul class="social-media-list">
          {%- for entry in site.minima.social_links -%}
            {%- include social-item.html -%}
          {%- endfor -%}
        </ul>
      </div>
      <div class="footer-col clearfix">
		<div class="footer-logo">
			<img src="{{ '/assets/images/Logo.png' | relative_url }}" alt="Logo"  width=100% height=auto class="logo">
			 <p class="right-aligned">{{ site.description | escape }}</p>
		</div>
       
      </div>
    </div>

  </div>

</footer>




