---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  
.circular-image {
  border-radius: 50%; /* make the corners rounded */
  width: 150px; /* set the width of the image */
  height: 150px; /* set the height of the image */
  object-fit: cover; /* scale the image to fit within the border */
}

.image-container figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.image-container figure img {
	 margin: 10pt 40pt;
}

figure figcaption {
  text-align: center;
}


.sponsor-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sponsor-container-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-container-block img {
  width: 50%;
  max-width: 200px;
  margin: 10px;
}



.header-container {
  display: flex;
  align-items: center;
}

.logo-container {
  height: 1px; /* set the height of the logo container */
  margin-right: auto;
  width: 25%; 
}


.logo {
  vertical-align: middle; /* align the logo vertically within the logo container */
  width: 170px; /* Keep the width of the logo flexible */
  min-width: 170px; /* Keep the width of the logo flexible */
}

.menu-container {
  height: 1px; /* set the height of the logo container */
  margin-left: auto;
  width: 75%; 
}

.menu-container a {
  vertical-align: middle; /* align the menu links vertically within the menu container */
}

.header {
  text-align: left;
}

.presenter-info {
  display: flex;
  align-items: center;
  margin: 10px;
}

.presenter-info-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 1em;
}

.intervention-abstract {
  text-align: justify;
}

.image-container figcaption {
  padding-right: 5px;
  padding-left: 5px;
}

.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-media-list li:first-child {
  margin-left: 0;
}

.footer-logo {
  float: right;
  margin-top: 10px;
}

.footer-logo img {
  width: 170px;
}

.footer-col {
  width: 30%;
  float: left;
}


.footer-col.clearfix {
  margin-left: 5%;
  width: 65%;
  float: right;
}

@media screen and (max-width: 600px) {
  .footer-col {
    width: 100%; /* Take up the full width on small screens */
    margin-right: 0; /* Remove the margin */
  }
  .footer-col.clearfix {
    width: 100%; /* Take up the full width on small screens */
    margin-left: 0; /* Remove the margin */
  }
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}


.intervention-title-and-links {
  display: flex;
  align-items: center;
}

.intervention-links {
  margin-left: auto;
}

.intervention-link {
  margin-left: 10px;
  font-size: medium;
}

.justified {
  text-align: justify;
}

p {
  text-align: justify;
}

@media (max-width: 600px) {
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-box {
    width: 100%;
  }
  }


.bigger-text {
  font-size: 1.25em;
}

.logo-link {
  text-decoration: none;
  box-sizing: border-box;
}

.logo-link:hover {
  text-decoration: underline;
  border-bottom: 2px solid red;
}

.wrapper {
  max-width: 80%;
}

.presenter-info-container {
  font-size: Larger; /* increase the font size */
}

.italicized-title {
  font-style: italic;
}


.upcoming-event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.upcoming-event-page .presenter-info {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.presenter-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

h1, h2 {
  margin: 0;
}

.italicized-title {
  font-style: italic;
  font-size: larger;
  margin-bottom: 0.5em;
  text-align: center; 
}


.bigger-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-items: center;  
  text-align: center; 
}

.presenter-info-home {
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.presenter-info-container-home {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.presenter-name-and-affiliation {
  display: block;
}

.event-info {
  display: block;
  width: 100%;
  text-align: left;
}